<div class="card">
    <div class="card__image-wrapper">
        <img [src]="publicacion().imagenPrincipal" alt="{{ publicacion().titulo }}" class="card__image" />

        <span class="card__badge card__badge--estado">
            {{ publicacion().estado}}
        </span>

        <span class="card__badge card__badge--tipo">
            {{ publicacion().tipo}}
        </span>
    </div>

    <div class="card__body">
        <span class="card__tag">{{ publicacion().tag }}</span>
        <h2 class="card__titulo">{{ publicacion().titulo }}</h2>


        <div class="card__autor">
            <div class="card__avatar">
                OBTENER DE PERFIL
            </div>
            <span>OBTENER DE PERFIL</span>
        </div>

        <a class="card__link" routerLink="/app/publicacion/{{ publicacion().id }}">
            Ver detalle <span class="card__arrow">→</span>
        </a>
    </div>
</div>

<!--
  CAMPOS PARA USAR EN PRODUCTOS DETALLADO:
  - descripcion       
  - fechaCreacion      
  - fechaActualizacion 
  - fechaFinalizacion  
  - fechaEliminacion   
  - verificada         
  - reportada          
-->