<div class="card">
    <div class="card__image-wrapper">
        <img [src]="publicacion().imagen" alt="{{ publicacion().titulo }}" class="card__image" />

        <span class="card__badge card__badge--tipo">
            {{ publicacion().tipo}}
        </span>
    </div>

    <div class="card__body">
        <span class="card__tag">{{ publicacion().tag }}</span>
        <h2 class="card__titulo">{{ publicacion().titulo }}</h2>
        <p class="card__descripcion">{{ publicacion().descripcion }}</p>

        @if(tipo() !== 'detalle'){
        <div class="card__autor">
            <div class="card__avatar">
                <img [src]="publicacion().user.perfil.imagen || 'https://ui-avatars.com/api/?name='+publicacion().user.perfil.nombre_perfil" alt="{{ publicacion().user.perfil.nombre_perfil }}"
                    class="card__avatar" />
            </div>
            <span>{{ publicacion().user.perfil.nombre_perfil }}</span>
        </div>  
        }
        

        <a class="card__link" routerLink="/app/publicacion/{{ publicacion().id }}">
            Ver detalle <span class="card__arrow">→</span>
        </a>
    </div>
</div>

<!--
  CAMPOS PARA USAR EN PRODUCTOS DETALLADO:
  - descripcion       
  - fechaCreacion      
  - fechaActualizacion 
  - fechaFinalizacion  
  - fechaEliminacion   
  - verificada         
  - reportada          
-->