.section {
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: row;
}

.contenedor_principal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: auto;
    margin: 4rem 6rem 0 6rem;
}

.contenedor_titulo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8rem;
    gap: 1rem;
}

.titulo {
    line-height: 1;
}

.titulo_mis_publicaciones {
    color: var(--color-brand);
    font-size: 4rem;
    font-family: var(--font-serif);
}

.titulo_parrafo_mis_publicaciones {
    font-size: 1;
    color: var(--color-text-muted);
}


.contenedor_publicaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 100%;
}

@media (max-width: 958px) {
    .contenedor_publicaciones {
        grid-template-columns: repeat(2, 1fr);
    }

    .titulo_mis_publicaciones {
        font-size: 3rem;
    }
}